$r: 1.5em;

.loader-wrapper {
	display: grid;
	place-content: center;
	margin: 0;
	height: 100vh;
	background: #fff;

	&:before {
		grid-column: 1;
		grid-row: 1;
		transform: scale(0.8);
		background: linear-gradient(
			90deg,
			#fde6bd,
			#a1c5ab,
			#f4dd51,
			#d11e48,
			#632f53
		);
		content: "";
	}
}

.loader {
	grid-column: 1;
	grid-row: 1;
	display: flex;
	align-items: center;
	padding: 6em;
	background: inherit;
	filter: blur(9px) contrast(18);
	mix-blend-mode: screen;
}

.particle {
	width: 0;
	padding: $r;
	border-radius: 50%;
	background: #000;

	&:first-child,
	&:last-child {
		padding: 0.5 * $r;
	}

	&:nth-child(odd) {
		animation: pulse var(--t) ease-in-out var(--dt) infinite;
	}

	&:nth-child(2n) {
		transform: rotate(0deg) translate(2 * $r);
		animation: spin var(--t) linear infinite;
	}

	&:nth-child(4n) {
		animation-direction: reverse;
		animation-duration: calc(1.2 * var(--t));
	}
}

@keyframes pulse {
	50% {
		transform: scale(1.8);
	}
	70% {
		transform: scale(0.6);
	}
}

@keyframes spin {
	to {
		transform: rotate(1turn) translate(2 * $r);
	}
}

$inactive: #aaa;
$active: #fc7474;
$speed: 1.2s;
$size: 50px;
$unit: $size / 16;

@keyframes spinner {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner-container {
	width: 90%;
	height: 90%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner-huge-wave-out {
	display: block;
	float: left;
	width: $size;
	height: $size;
	border-radius: 50%;
	border: $unit solid $inactive;
	animation: spinner $speed linear infinite;
	box-shadow: (-$unit/2) (-$unit/2) 0 ($unit * 2) $active;
}
